<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsshy.beam.sys.dao.ClienteleMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.sys.entity.Clientele" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="customerStoreName" column="customer_store_name"/>
        <result property="customerContactName" column="customer_contact_name"/>
        <result property="customerPhone" column="customer_phone"/>
        <result property="createPersonId" column="create_person_id"/>
        <result property="createPersonName" column="create_person_name"/>
        <result property="updatePersonId" column="update_person_id"/>
        <result property="updatePersonName" column="update_person_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="customerType" column="customer_type"/>
    </resultMap>
    <resultMap type="com.hsshy.beam.sys.entity.Clientele" id="clientResultMap">
        <result property="id" column="id"/>
        <result property="customerStoreName" column="customer_store_name"/>
    </resultMap>
    <sql id="Base_Column_List">
        a.`id` AS "id",
        a.`customer_id` AS "customerId",
        a.`customer_store_name` AS "customerStoreName",
        a.`customer_contact_name` AS "customerContactName",
        a.`customer_phone` AS "customerPhone",
         a.`create_person_id` AS "createPersonId",
        a.`create_person_name` AS "createPersonName",
        a.`update_person_id` AS "updatePersonId",
        a.`update_person_name` AS "updatePersonName",
        a.`create_time` AS "createTime",
        a.`update_time` AS "updateTime",
        a.`sales_account` AS "salesAccount",
        a.`sales_name` AS "salesName",
        a.customer_tag AS "customerTag",
        a.`customer_type` AS "customerType"
    </sql>
    <select id="selectPageList" resultType="com.hsshy.beam.sys.entity.Clientele">
        select
        <include refid="Base_Column_List"/>
        from sys_clientele a
        WHERE a.is_delete = 0
        <if test="clientele.customerStoreName != null and clientele.customerStoreName != ''">
            and a.customer_store_name=#{clientele.customerStoreName}
        </if>
        <if test="clientele.customerPhone != null and clientele.customerPhone != ''">
            and a.customer_phone=#{clientele.customerPhone}
        </if>
        <if test="clientele.salesName != null and clientele.salesName != ''">
            and a.sales_name=#{clientele.salesName}
        </if>
        <if test="clientele.salesAccount != null and clientele.salesAccount != ''">
            and a.sales_account=#{clientele.salesAccount}
        </if>
        <if test="clientele.customerType != null and clientele.customerType != ''">
            and a.customer_type=#{clientele.customerType}
        </if>
        <if test="clientele.customerTag != null and clientele.customerTag != ''">
            and a.customer_tag=#{clientele.customerTag}
        </if>
        ORDER BY a.`create_time` desc
    </select>
    <select id="selectMyPageList" resultType="com.hsshy.beam.sys.entity.Clientele">
        select
        <include refid="Base_Column_List"/>
        from sys_clientele a
        WHERE a.is_delete = 0
        and (a.sales_name IS NULL or a.sales_name="")
        and (a.sales_account IS NULL or a.sales_account="")
        <if test="clientele.customerStoreName != null and clientele.customerStoreName != ''">
            and a.customer_store_name=#{clientele.customerStoreName}
        </if>
        <if test="clientele.customerPhone != null and clientele.customerPhone != ''">
            and a.customer_phone=#{clientele.customerPhone}
        </if>
        <if test="clientele.customerType != null and clientele.customerType != ''">
            and a.customer_type=#{clientele.customerType}
        </if>
        ORDER BY a.`create_time` desc
    </select>
    <!--保存客户信息-->
    <insert id="saveClientele">
        insert into sys_clientele (customer_id,customer_store_name,customer_contact_name,customer_phone,
        create_person_id,create_person_name,customer_type,is_delete)
        values( #{clientele.customerId},#{clientele.customerStoreName}, #{clientele.customerContactName},#{clientele.customerPhone}, #{clientele.createPersonId},
          #{clientele.createPersonName},#{clientele.customerType},0)
    </insert>
    <update id="delClienteleByid">
        UPDATE sys_clientele  SET is_delete=1 WHERE id=#{id}
    </update>
    <select id="getByClienteleId" resultType="com.hsshy.beam.sys.entity.Clientele">
        select
        <include refid="Base_Column_List"/>
        from sys_clientele a
        WHERE a.is_delete = 0
        and id=#{id}
    </select>
    <update id="updateClientele">
        update sys_clientele
        <trim prefix="SET" prefixOverrides=",">
            update_time=#{clientele.updateTime}
            <if test="clientele.customerContactName != null and clientele.customerContactName != ''">
                ,customer_contact_name=#{clientele.customerContactName}
            </if>
            <if test="clientele.customerPhone != null and clientele.customerPhone != ''">
                ,customer_phone=#{clientele.customerPhone}
            </if>
            <if test="clientele.updatePersonId != null and clientele.updatePersonId != ''">
                ,update_person_id=#{clientele.updatePersonId}
            </if>
            <if test="clientele.updatePersonName != null and clientele.updatePersonName != ''">
                ,update_person_name=#{clientele.updatePersonName}
            </if>
            <if test="clientele.customerType != null and clientele.customerType != ''">
                ,customer_type=#{clientele.customerType}
            </if>
            <if test="clientele.customerTag != null and clientele.customerTag != ''">
                ,customer_tag=#{clientele.customerTag}
            </if>

        </trim>
        where id=#{clientele.id}
    </update>
    <update id="addMyClient" parameterType="HashMap">
        UPDATE sys_clientele  SET into_time=now(),sales_account=#{salesAccount},sales_name=#{salesName} WHERE id=#{id}
    </update>
    <update id="updateClienteleStatus" parameterType="HashMap">
         UPDATE sys_clientele  SET customer_tag=#{customerTag} WHERE customer_id=#{customerId}
    </update>
    <update id="deleteMyClient" parameterType="HashMap">
        UPDATE sys_clientele  SET into_time=NULL ,sales_account="",sales_name="",customer_tag=1 WHERE id=#{id}
    </update>
    <select id="clientList" parameterType="HashMap" resultMap="clientResultMap">
         select id,
                customer_store_name
        FROM sys_clientele
        WHERE sales_account=#{salesAccount} and sales_name=#{salesName}
    </select>
    <select id="getCustomerTotal" resultType="Long" parameterType="HashMap">
        select
        count(1)
        from sys_clientele a
        WHERE a.is_delete = 0
        <if test="salesAccount != null and salesAccount != ''">
            and sales_account=#{salesAccount}
        </if>
        <if test="salesName != null and salesName != ''">
            and sales_name=#{salesName}
        </if>
        <if test="customerTag != null and customerTag!= ''">
            and customer_tag=#{customerTag}
        </if>
    </select>
    <update id="removeClientele">
        UPDATE
          sys_clientele
        SET
          into_time = NULL,
          sales_account =NULL,
          sales_name = NULL,
          customer_tag = 1
        WHERE sales_account IS NOT NULL
          AND sales_name IS NOT NULL
          AND into_time IS NOT NULL
          AND customer_tag = 1
          AND TO_DAYS(NOW()) - TO_DAYS(into_time) > 7
    </update>
</mapper>