<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsshy.beam.sys.dao.CustomerVisitMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.hsshy.beam.sys.entity.CustomerVisit" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="visitSchedule" column="visit_schedule"/>
        <result property="visitInfo" column="visit_info"/>
        <result property="visitType" column="visit_type"/>
        <result property="resultInfo" column="result_info"/>
        <result property="amount" column="amount"/>
        <result property="creatTime" column="creat_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        a.`id` AS "id",
        a.`user_id` AS "userId",
        a.`customer_id` AS "customerId",
        DATE_FORMAT(a.`view_time`,'%Y-%m-%d') AS "visitTime",
        a.`visit_schedule` AS "visitSchedule",
        a.`visit_info` AS "visitInfo",
        a.`visit_type` AS "visitType",
        a.`result_info` AS "resultInfo",
        a.`amount` AS "amount",
        a.`creat_time` AS "createTime",
        b.customer_store_name AS customerStoreName,
        e.name AS userName
    </sql>

    <select id="selectPageList" resultType="com.hsshy.beam.sys.entity.CustomerVisit">
        select
        <include refid="Base_Column_List"/>
        from customer_visit a left join sys_clientele b on a.customer_id=b.customer_id left JOIN sys_user e
        ON a.user_id=e.id
        where 1=1
        <if test="customerVisit.customerId != null and customerVisit.customerId != ''">
            and a.customer_id=#{customerVisit.customerId}
        </if>
        <if test="customerVisit.visitType != null and customerVisit.visitType != ''">
            and a.visit_type=#{customerVisit.visitType}
        </if>
        order by  a.`view_time` desc
    </select>
    <select id="getByVisitId" resultType="com.hsshy.beam.sys.entity.CustomerVisit">
        select
        <include refid="Base_Column_List"/>
        from customer_visit a  left join sys_clientele b on a.customer_id=b.customer_id
        where a.id=#{id}
    </select>
    <select id="queryResultListMap"  parameterType="HashMap"  resultType="HashMap">
        select
        b.customer_id AS customerId,
        b.customer_store_name AS customerStoreName,
        DATE_FORMAT(a.`view_time`,'%Y-%m-%d') AS "visitTime",
        e.name AS userName,
        a.`amount` AS "amount"
        from customer_visit a left join sys_clientele b on a.customer_id=b.customer_id left JOIN sys_user e
        ON a.user_id=e.id
        where  a.visit_type=4
        <if test="startTime!= null and startTime!= ''">
            and  a.`view_time` &gt;=#{startTime}
            and  a.`view_time` &lt;=#{endTime}
        </if>
    </select>

    <insert id="saveVisit">
        insert into customer_visit (user_id,customer_id,view_time, visit_schedule
        ,visit_info,visit_type,result_info,amount)
        values( #{customerVisit.userId}, #{customerVisit.customerId}, #{customerVisit.visitTime},#{customerVisit.visitSchedule},
        #{customerVisit.visitInfo}, #{customerVisit.visitType},#{customerVisit.resultInfo},#{customerVisit.amount} )
    </insert>

    <update id="updateVisit">
        update customer_visit
        <trim prefix="SET" prefixOverrides=",">
            user_id=#{customerVisit.userId}
            <if test="customerVisit.customerId != null and customerVisit.customerId != ''">
                ,customer_id=#{customerVisit.customerId}
            </if>
            <if test="customerVisit.visitSchedule != null and customerVisit.visitSchedule != ''">
                 ,visit_schedule=#{customerVisit.visitSchedule}
            </if>
            <if test="customerVisit.visitInfo != null and customerVisit.visitInfo != ''">
                ,visit_info=#{customerVisit.visitInfo}
            </if>
            <if test="customerVisit.visitType != null and customerVisit.visitType != ''">
                ,visit_type=#{customerVisit.visitType}
            </if>
            <if test="customerVisit.resultInfo != null and customerVisit.resultInfo != ''">
                ,result_info=#{customerVisit.resultInfo}
            </if>
            <if test="customerVisit.amount != null and customerVisit.amount != ''">
                ,amount=#{customerVisit.amount}
            </if>
        </trim>
        where id=#{customerVisit.id}
    </update>
</mapper>